

html 
{
  scroll-behavior: smooth;
}

*{
	margin: 0px;
	padding: 0px;
}

.loader{
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loader >img {
	width: 100px;
}

.loader{
	animation: fadeOut 3s;
	animation-fill-mode: forwards;
}

@keyframes fadeOut{
	100%{
		opacity: 0;
		visibility: hidden;
	}
}

header{
 	background-image: url('shopping.png');
 	background-size: cover;
 	background-repeat: no-repeat;
 	width: 100%;
 	height: 100%;
}

.clearfix:after{
	content: ".";
	visibility: hidden;
	display: block;
	height: 0px;
	clear: both;
}
 
.raw{
	max-width: 1180px;
	margin: 0 auto;
}

.logo{
	height:120px; 
	width:auto;
	float: left;
	margin-top: 20px;
	margin-right: 80px;
	border-radius: 100px; 

}

.main-nav{
	float: right;
	margin-top: 60px;
	font-family: 'Great Vibes', cursive;
 	font-weight: bold;

}  

.main-nav li{
	display: inline-block;
	list-style: none;
	margin-left: 40px;
}

.main-nav li a{
	padding: 5px 0;
	color: #000000;
	text-decoration: none;
	font-size: 25px;
	
}

.main-nav li a:hover{
	border-bottom: 2px solid #FF0000;
}


.main-content{
	width: 1180px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-family: 'Kaushan Script', cursive;	
}

h1{
	color: 	#FF0000;
	font-size: 240%;
	word-spacing: 3px;
	margin-bottom: 20px;
}

.btn{
	display: inline-block;
	padding: 10px 30px;
	font-weight: lighter;
	text-decoration: none;
	border-radius: 200px;
	transition:background-color 0.2s,border 0.2s,color 0.2;
	font-family: 'Permanent Marker', cursive;
}

.btn-full{
	background-color: transparent;
	color:#000000;
	margin-right: 15px;
	border:1px solid #000000;
}

.btn-full:hover{
	background-color: #FF0000;
}

.btn-nav{
	background-color: transparent;
	color:#FF0000;
	border:1px solid #FF0000;
}

.btn-nav:hover{
	background-color: #000000;
}

.color-change{
	animation: colorchange 1s infinite;
}

@keyframes colorchange{
	
	50%{color:#000000 ;}
	100%{color:#FF0000;}
}

@media only screen and (max-width: 1180px){
	.main-content{
		width: 100%;
		padding: 0 2%;
	}
}

@media only screen and (max-width: 998px){
	h1{font-size: 200%;}
}

@media only screen and (max-width: 768px){
	h1{font-size: 180%}
	.main-nav{display: none;}
}

.swip {
	 background-size: cover;
	 background: url("wallpaper3.png");
     font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
     font-size: 14px;
     color:#000;
     margin: 0;
     padding: 0;
     height: auto;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
    background: #fff;
}

.swiper-slide .imgbx
{
	width: 100%;
	height: 300px;
	overflow: hidden;
}

.swiper-slide .imgbx img
{
	width: 100%;

}

.swiper-slide .details
{
	box-sizing: border-box;
	
	padding: 20px;
}

.swiper-slide .details h3
{
	margin: 0;
	padding: 0;
	font-size: 20px;
	text-align: center;
	line-height: 20px;
	
}

.swiper-slide .details h3 span
{
	font-size: 16px;
	color: #f44336;

}

h3
{
	font-family: "Courier New", Courier, monospace;
}

#pageC 
{
	background-image: url('Baby Groot.jpg');
	height: 100vh;
	background-size: cover;
	background-position: center;
 	/*background-repeat: no-repeat;*/
}

.Login-page
{
	width: 360px;
	padding: 10% 0 0;
	margin: auto;
}

.form
{
	position: relative;
	z-index: 1;
	background: #ffffff;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
}

.form input
{
   font-family: cursive;
   outline: 1;
   background: lightblue;
   width: 100%;
   border: 0;
   margin: 0 0 15px;
   padding: 15px;
   box-sizing: border-box;
   font-size: 15px;
}

.form button
{
	font-family: cursive;
	text-transform: uppercase;
}









